<div class="pb-4">
  <div class="container card pt-3 px-4">
    <h3 class="my-3">Add Fund</h3>
    <form [formGroup]="editProfileForm">
      <div>
        <div class="pt-2">
          <h4 class="text-uppercase btn btn-success mb-0 tab">Admin Crypto address</h4>
          <div class="row">
            <div class="col-12 col-md-10 pe-md-0">
              <h4 class="text-success alert alert-success m-0">{{accountDetails?.accountNumber || 'NA'}}</h4>
            </div>
            <div class="col-12 col-md-2 ps-md-0">
              <button class="btn btn-success h-100 w-100"
                (click)="copyToClipboard(accountDetails?.accountNumber)">Copy</button>
            </div>
          </div>
        </div>
        <div class="form-group mt-2 mb-3">
          <label class="form-label" for="transactionAmount">Fund Amount</label>
          <input type="number" class="form-control" id="transactionAmount" formControlName="fundAmount"
            placeholder="Fund Amount" />
          <div *ngIf="editProfileForm.get('fundAmount')?.invalid && editProfileForm.get('fundAmount')?.touched"
            class="text-danger">
            Fund Amount is required and must be greater than 0.
          </div>
        </div>
        <div class="form-group mt-2 mb-3">
          <label class="form-label" for="transactionId">Transaction ID</label>
          <input type="text" class="form-control" id="transactionId" formControlName="transactionId"
            placeholder="Enter transaction ID" />
          <div *ngIf="editProfileForm.get('transactionId')?.invalid && editProfileForm.get('transactionId')?.touched"
            class="text-danger">
            Transaction ID is required.
          </div>
        </div>
      </div>
      <input type="file" class="form-control-file mb-2" (change)="onFileSelected($event)" />
      <div *ngIf="loading" class="spinner-border text-primary" role="status"><span
          class="visually-hidden">Loading...</span></div>
    </form>
    <div class="modal-footer my-4">
      <button class="btn btn-success w-100" (click)="upload()"
        [disabled]="!editProfileForm.valid || !selectedImage">Request</button>
    </div>
  </div>
</div>