<div class="manage-account-container">
  <!-- Loader while fetching or saving account details -->
  <div *ngIf="isLoading" class="loader-container">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>

  <!-- If no accountDetailsList are present, show the 'Add Account' message and button -->
  <div *ngIf="!accountDetailsList.length && !isEditing && !isLoading" class="no-account-card">
    <h3>BEP code not added</h3>
    <p>Please add your BEP code.</p>
  </div>

  <!-- Display existing accounts -->
  <div class="container">
    <div class="row">
      <div *ngFor="let account of accountDetailsList" class="account-card col-12">
        <div class="account-details" *ngIf="!isEditing">
          <h4>BEP20 Code</h4>
          <table>
            <tr>
              <th>BEP Code:</th>
              <td>{{ account.accountNumber }}</td>
            </tr>
          </table>
          <div class="account-actions">
            <button (click)="editAccount(account)">Edit</button>
            <button (click)="deleteAccount(account.accId)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form for adding or editing account -->
  <div *ngIf="isEditing && !isLoading" class="account-form card p-3 p-md-4">
    <h3>{{ formType }} BEP20</h3>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
      <!-- Bank Name Field -->

      <!-- Account Number Field -->
      <div class="form-group">
        <label class="form-label">BEP CODE</label>
        <input class="form-control" type="text" formControlName="accountNumber" />
      </div>

      <!-- Form buttons -->
      <div class="form-actions">
        <button type="submit">{{ formType }}</button>
        <button type="button" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </div>

  <!-- Add Account Button -->
  <div class="add-account-container" *ngIf="!isEditing">
    <button (click)="addNewAccount()">Add</button>
  </div>
</div>