.m-header {
    height: 132px !important;
    justify-content: center !important;
}
.b-brand{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.navbar-wrapper{
    background: linear-gradient(to right, #1a1aaa, #000000);
}